/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

@media (min-width: 768px) {
    .pull-right-md {
        float: right;
    }
}

body {
  font-size: 16px;
  padding-top: 60px;
}

a {
  outline: 0 !important;
}

footer {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.print-icon {
  float: left;
}

.container {
  overflow: hidden;
}

#navbar.navbar-collapse {
  -webkit-transition: height 0.35s cubic-bezier(0.61, -0.07, 0.27, 1.55) 0s !important;
  -moz-transition: height 0.35s cubic-bezier(0.61, -0.07, 0.27, 1.55) 0s !important;
  -o-transition: height 0.35s cubic-bezier(0.61, -0.07, 0.27, 1.55) 0s !important;
  transition: height 0.35s cubic-bezier(0.61, -0.07, 0.27, 1.55) 0s !important;
}

.navbar-nav > li > a {
  -webkit-transition: background-color 300ms linear;
   -moz-transition: background-color 300ms linear;
     -o-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
}

.modal.fade .modal-dialog {
  -webkit-transition: transform 0.3s cubic-bezier(.68,-0.16,.27,1.55);
  -moz-transition: transform 0.3s cubic-bezier(.68,-0.16,.27,1.55);
  -o-transition: transform 0.3s cubic-bezier(.68,-0.16,.27,1.55);
  transition: transform 0.3s cubic-bezier(.68,-0.16,.27,1.55);
}

.pre-scrollable {
  background-color: #f8f8f8;
}

.alert .label {
  cursor: pointer;
}

.timeline {
  top: 20px;
  left: 50%;
  height: 12  20px;
  width: 4px;
  background: #d7e4ed;
  position: relative;
}

.timeline .timeline-job {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #ff0039;
  margin-left: -5px;
  margin-top: 130px;
  margin-bottom: 240px;
}

.timeline .popover {
  width: 160px;
  z-index: auto;
}

.more-info-icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  color: #ff0039;
}

.logo-container {
  cursor: pointer;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
.logo-container:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

@media (min-width: 768px) {
  .timeline .timeline-job {
    margin-bottom: 140px;
    margin-top: 90px;
  }
    
  .timeline .popover {
    width: 275px;
  }
}

@media print {

  .h1 {
    margin-top: -20px;
  }

  .logo-container {
    filter: none;
    -webkit-filter: grayscale(0);
  }

  .alert {
    display: none;
  }

  .timeline {
    top: 10px;
    left: 10px;
    width: 100%;
    margin: 0px;
    background: #d7e4ed;
  }

  .timeline .timeline-job {
    margin: 0px;
    position:relative;
    width: 100%;
  }

  .timeline .popover {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    position: relative;
    z-index: auto;
  }

  .timeline .popover.left .arrow, .timeline .popover.right .arrow{
    display: none;
  }

}

