/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

@media (min-width: 768px) {
    .pull-right-md {
        float: right;
    }
}

body {
  font-size: 16px;
  padding-top: 60px;
}

a {
  outline: 0 !important;
}

footer {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.container {
  overflow: hidden;
}

.timeline {
  top: 20px;
  left: 50%;
  height: 600px;
  width: 4px;
  background: #d7e4ed;
  position: relative;
}

.timeline .timeline-job {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #ff0039;
  margin-left: -5px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.timeline .popover {
  width: 160px;
  z-index: auto;
}

.more-info-icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  color: #ff0039;
  cursor: pointer;
}

.logo-container {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
.logo-container:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

@media (min-width: 768px) {
  .timeline .timeline-job {
    margin-bottom: 80px;
    margin-top: 90px;
  }
    
  .timeline .popover {
    width: 275px;
  }
}