<div class="row">
  <h1 class="col-xs-12">CV</h1>
  
  <div class="col-xs-12 col-md-9">
 

    <h2>Experience</h2>

     <p>
     Specialised on Javascript and PHP, I have worked with many different teams and codebases in this two languages and I feel confident that I can be a meaningful member of any team and debug, maintain and improve any code base. To find more about shipped projects and employers recommendations you can <a href="https://www.linkedin.com/in/juanmirodriguez">connect with me on LinkedIn</a>. Here you can find a relation of the different roles I have played over the years and a relation of usual tasks and accomplishments. 
     </p>

      <uib-tabset active="0">

        <uib-tab index="0" heading="Timeline" ng-if="jobs.length > 0">

          <div class="timeline">     
            <div class="timeline-job" ng-repeat="job in jobs"
                 popover-title="{{ job.title }}"
                 uib-popover-template="job.tpl" 
                 popover-is-open="showjobs"
                 popover-trigger="none"
                 popover-placement="{{ job.placement }}">
            </div>
          </div>

        </uib-tab>

        <uib-tab index="1" heading="by Job Title">

          <h3>Front-end Developer</h3>

          <p>Several client-side commercial applications developed and shipped successfully. Expert knowledge of JavaScript and some different OSS frameworks. Main tasks and responsibilities:</p>

          <ul>
            <li>Development of single page applications using AngularJS.</li>
            <li>Custom widgets and plugins using JavaScript/HTML5/CSS3 for existing webpages.</li>
            <li>PSD to HTML design implementations. Implementation of new layouts and components adhering to previous designs convention and style.</li>
            <li>Development of prototypes and MVPs without designer assistance using CSS frameworks like Bootstrap and Foundation.</li>
          </ul>

          <h3>Back-end Developer</h3>

          <p>Most of the time working as full stack developer I have always tried to keep the front and the back as separated as possible, using PHP frameworks like CodeIgniter, Laravel, Slim or Symfony for custom developments. But I have also worked with Wordpress, Moodle or even Joomla.</p>

          <ul>
            <li>Technical design (project architecture, deploy system, development process)</li>
            <li>Development of custom web pages using OSS frameworks like CodeIgniter, Laravel, Slim.</li>
            <li>Development of micro REST APIs with Slim.</li>
            <li>Wordpress customization and custom plugins development.</li>
            <li>Moodle customization and modules development.</li>
          </ul>

          <h3>Video games developer</h3>

          <p>Video games are quite a different job that the usual enterprise development, the focus is mainly on presentation, interfaces and real-time interaction. Video games development is interesting because it makes you focus on different problems and find different approaches. I have worked as video game developer and shipped several games and I keep doing some video game development in my spare time.</p>

          <ul>
            <li>Video game 2D engine development.</li>
            <li>Interfaces development.</li>
            <li>Planning and schedule of development tasks.</li>
            <li>Translation, reskinning and porting of mobile games.</li>
          </ul>

        </uib-tab>

      </uib-tabset>
    
    <h2>Academic Education</h2>

    <h4>Technical Computer Engineering in Computer Systems at E.T.S.I. University of Málaga.</h4>
    <h4>English, Advanced, EOI of Málaga</h4>

    <div ng-if="courses.length > 0">

      <h2>Courses</h2>

      <table class="table table-responsive">
        <tr ng-repeat="course in courses">
          <td>{{ course.year }}</td>
          <td>{{ course.company }}</td>
          <td><strong>{{ course.title }}</strong></td>
        </tr>
      </table>

    </div>
  </div>

  <div class="col-xs-12 col-sm-5 col-md-3">
      <h2>About the teams</h2>
      <!-- Company logos, b&W with color on hover and a + icon to show a dialog/modal with more info about the team  -->
      <div class="logo-container" ng-repeat="company in companies" ng-click="openModal(company)">
        <img class="img-responsive img-thumbnail img-grayscale" src="assets/img/{{ company.logo }}" alt="{{ company.name }} logo" />
        <hr>
      </div>
  </div>

</div> 

<script type="text/ng-template" id="jobPopoverTemplate.html">
    <div>
      <p><small>{{ job.from_date }} - {{ job.to_date }}</small></p>
      <p>{{ job.description }}</p>
    </div>
</script>

<script type="text/ng-template" id="teamModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">{{ company.name }}</h3>
    </div>
    <div class="modal-body">
      {{ company.description }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    </div>
</script>